<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <h1>Welcome to Funxster</h1>
    <img src="https://images.unsplash.com/photo-1612832164313-ac0d7e07b5ce?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
    <form id="formFields" method="GET" action="/"> 
    <input type="text" placeholder="Enter your name" name="username">
    <input type="text" placeholder="Enter room" name="room">
    <button>Submit</button>
     </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.js" integrity="sha512-XV7i2NjAyD/lQ86gjNKipD1AtzgosNaKajboNV6cdYUyW3K2jh1QaDilgMJx+asXxw0vKVpxV18hvBH4cimf7g==" crossorigin="anonymous"></script>
</body>
</html>